<!DOCTYPE html>
<html>
<head>
  <title>eShop</title>
  <link rel="stylesheet" href="style.css">
</head>
<html>
	<body>
	  <div id="app">
	    <header class="header">
	     	<h2>Магазин</h2>
	     	<filter-input v-on:che="filterGoods" v-model="searchLine"></filter-input>
	    	<bascket-list v-on:remove="removeFromCartHandler" :goods="bascketGoods"></bascket-list>
	    </header>
	    <main>
	    	<error-handle v-if="isError"></error-handle>
		 	<goods-list 
		 		v-if="goods.length !== 0"
		  		:goods="filteredGoods"
				v-on:click="addToCartHandler"
				v-on:add="addToCartHandler"
			>
			</goods-list>
		</main>
	  </div>

	  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	  <script src="script.js"></script>
	</body>
</html>