* {
	padding: 0;
	margin: 0;
}
.cart-button {
	background-image: linear-gradient(grey, white);
	height: 30px;
	margin: 5px;
	padding: 5px;
	border-radius: 15px;
}
.cart-button:hover {
	background-image: none;
	background-color: silver;
}
.header {
	background-color: lightgrey;
	margin-bottom: 6px;
	height: 40px;
	box-shadow: 10px 5px 5px grey;
}
.main {
}
.goods-list {
	display: flex;
	justify-content: space-around;
	padding: 10px;
    background-color: lightgrey;
}
.goods-item {
	background-image: linear-gradient(grey, white);
    width: 150px;
    text-align: center;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}